body {
  background: #181818;
  color: #bbb;
  font-family: sans-serif;
  font-size: large;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.25em 0;
  line-height: 1.2;
}
h1 + div {
  margin: 0.5em 0;
}
a:link {
  color: #a9f;
}
a:visited {
  color: #a9f;
}
a:focus, a:hover {
  color: #9cf;
}
hr {
  margin: 0em auto;
  border: 1;
  border-bottom: 0.15em #666;
}
.links {
  text-align: center;
}
.links a {
  margin-right: 1.5em;
  line-height: 2.5;
}
.links a:last-child  {
  margin-right: 0;
}
.center {
  text-align: center;
}
p, ul {
  text-align: justify;
}
nav a {
  margin-right: 1.5em;
  line-height: 2.5;
}
nav a:last-child  {
  margin-right: 0;
}
main h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
